# Entorno virtual
.venv/

# Variables de entorno (NUNCA commitear)
.env

# Base de datos SQLite
*.sqlite3

# Archivos temporales de Django
__pycache__/
*.pyc
*.pyo
*.log

# Archivos estáticos compilados
staticfiles/

# Archivos de VSCode
.vscode/

# Archivos subidos localmente
/media/
